PCH_FILE=xxd/PrefixHeader.pch
EXPORT_OPTIONS_PATH='scripts/exportOptions.plist'

## 应用程序的名称
TARGET_NAME="xxd"

RELEASE_OR_DEBUG=Release  ## Push方式不一样，以及配置可能不一样
#RELEASE_OR_DEBUG=Debug   ## Debug

##fir配置
FIR_USER_TOKEN="a9153e8ca1fb0b00e6e4216189c581e1"
FIR_APP_ID="58f78af2548b7a67210000f5"


##蒲公英配置
PGY_API_KEY="dc08ce56866840d34e7218c14401a956"
PGY_USER_KEY="9206ecc031a4e63897d32eb91b22fcb6"

